<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/omastyle.css">
    <title>Error</title>
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Oops! Something went wrong</h1>
        <p th:text="'Status code: ' + ${status}"></p>
        <a th:href="@{/reviews}" class="btn btn-primary" id="backbtn">Go back to home</a>
    </div>
</body>
</html>