<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Game reviews</title>
</head>
<body>
    <h1>Game reviews</h1>
    <div>
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Game</th>
                  <th>Genre</th>
                  <th>Rating</th>
                  <th>Comment</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="review : ${reviews}">
                  <td th:text="${review.game.title}">Game Title</td>
                  <td th:text="${review.game.genre.name}">Game Genre</td>
                  <td th:text="${review.rating}">Rating</td>
                  <td th:text="${review.comment}" style="word-break: break-word; max-width: 350px;">Comment</td>
                  <td>
                    <a th:href="@{/reviews/delete/{id}(id=${review.revId})}" class="btn btn-danger">Poista</a>
                </td>
              </tr>
          </tbody>
      </table>
  </div>

  <div style="margin-top: 20px;">
    <a th:href="@{/reviews/new}" class="btn btn-success">Add New Review</a>
    <a th:href="@{/games}" class="btn btn-warning">Games</a>
  </div>
</body>
</html>