<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/omastyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Game reviews</title>
</head>
<body>
    <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="fa-solid fa-triangle-exclamation me-2"></i> You can't delete this review
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Game Reviews</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out" class="btn btn-sm btn-outline-danger"/>
            </form>
        </div>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Genre</th>
                    <th>Rating</th>
                    <th>User</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="review : ${reviews}"
                th:class="${review.rating >= 4} ? 'rating-good' :
                (${review.rating >= 2} ? 'rating-medium' : 'rating-bad')">
                    <td th:text="${review.game.title}">Game Title</td>
                    <td th:text="${review.game.genre.name}">Game Genre</td>
                    <td>
                        <!-- Täydet tähdet -->
                        <span th:each="i : ${#numbers.sequence(1, review.rating)}">
                          <i class="fa-solid fa-star" style="color: gold;"></i>
                        </span>
                        
                        <!-- Tyhjät tähdet, jos arvosana alle 5 -->
                        <span th:if="${review.rating &lt 5}"
                        th:each="i : ${#numbers.sequence(1, 5 - review.rating)}">
                        <i class="fa-regular fa-star" style="color: gold;"></i>
                        </span>
                      </td>
                    <td th:text="${review.User.username}">Username</td>  
                    <td th:text="${review.comment}" style="word-break: break-word; max-width: 250px; padding-right: 15px;">Comment</td>
                    <td>
                        <a th:href="@{/reviews/delete/{id}(id=${review.revId})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
  

  <div style="margin-top: 20px;">
    <a th:href="@{/reviews/new}" class="btn btn-success" id="addbtn">Add New Review</a>
    <a th:href="@{/games}" class="btn btn-warning" id="omagame">Games</a>
  </div>
</div>

<!--Cannot delete review alert closing-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>